# Wopee API Configuration
WOPEE_API_KEY=your_api_key_here
WOPEE_API_URL=https://api.wopee.io/
WOPEE_PROJECT_UUID=65883e02-9ac7-4e00-a2af-5c6b2a2ec743


# Optional: Override for development
# WOPEE_API_URL=https://api.dev.wopee.io/
